#map {
    width: 100%;
    height: 100%;
    min-height: 640px;
}

.hover-card {
    /*border: 1px dashed black;*/
    height: 72px;
    min-width: 256px;
    position: absolute;
    background-color: white;
    font-size: 12px;
}

.hover-card-thumbnail {
    height: 72px;
    width: 72px;
    position: absolute;
}

.hover-card-content-wrapper {
    position: absolute;
    left: 80px;
    padding: 5px;
}

.hover-card-star {
    color: orange;
}

/* left panel style below */
.left-pane {
    position: absolute;
    width: 312px;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateX(0px);
    transition-property: -webkit-transform, transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.left-pane-collapsed {
    transform: translateX(-312px);
}

.left-pane-toggle-button-container {
    display: block;
    position: absolute;
    z-index: 0;
    top: 8px;
    left: 100%;
}

.left-pane-toggle-button {
    width: 23px;
    height: 48px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==) 7px center/7px 10px no-repeat;
    border-left: 1px solid #D4D4D4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.left-pane-collapsed .left-pane-toggle-button {
    transform: scaleX(-1);
}

.card-title {
    font-size: 18px;
}

.card-body {
    font-size: 12px;
}

/* drag drop below */
.gmarker {
    width: 32px;
    height: 32px;
    background-image: url("dev-resources/images/map-marker.png");
    background-size: cover;
    cursor: pointer;
}